<%= form_with(model: script_template) do |form| %>
  <% if script_template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(script_template.errors.count, "error") %> prohibited this script_template from being saved:</h2>

      <ul>
        <% script_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
