<div style="width:100%;border:0px solid">
	
<%= form_for(:menu_action,:url=>{:action=>"edit"},:remote=>true) do |f| %>
<%= hidden_field_tag :id, @menu_action.id %>
<%= render :partial=> 'menu.html', :locals=>{:f=>f} %>
<br/>
<span style='float:left'>
<%= f.submit 'Update',:class=>bt_class %> | <%= link_to 'Cancel', {:controller=>'esm_menus',:action=>'index',:id=>@project},:remote=>true %> | <%= link_to 'Delete', {:action=>'menu_delete',:id=>@menu_action},:remote=>true,:confirm=>'Are you sure?' %>
</span>
<% end %>

</div>
<div class="clear">
	
</div>