<div class="field">
  <%= f.label :title %>
		<%= f.text_field :title ,:onkeyup=>methodize('esm_name') ,:class=>'k-textbox'%>
</div>

<div class="field">
  <%= f.label :name %>
		<%= f.text_field :name ,:class=>'k-textbox'%>
</div>



<div class="field">
  <%= f.label :url %>
		<%= f.text_field :url ,:class=>'k-textbox'%>
</div>