<%
	p = {}
	if @current_project 
	tp = @current_project.get_params if @current_project 
	p = tp if tp
	end
	title = (p['app_title']and p['app_title']!='')?p['app_title']:"ESM:Innovation as a Service"
	bg = (p['app_bg_style']and p['app_bg_style']!='')?p['app_bg_style']:"#eee"
	logo = (p['app_logo_url']and p['app_logo_url']!='')?p['app_logo_url']:'/esm_core/banner1.png'
%>
<style type="text/css" media="screen">
	.input-prepend{
		width:300px;
	}
	.field_with_errors{
	  display:inline-block;
	  background:#fee;
	 border:1px solid red;
	}
	
</style>
<%= form_for :user, :url=>{:action=> "signup"} ,:html=>{} do  |form| %>

<div class="login_box">

		<div class=" navbar-inner " style="text-align:center;padding-top:5px"><a href="/"><%= image_tag logo, :height=>36,:width=>250 %></a>
		</div>   

		<% if flash[:error] %>
		<div class="alert  alert-login">
			<%# flash[:error] %>
			<% if @user.errors.any? %>
			    <div id="error_explanation">
			      <h4><%= pluralize(@user.errors.count, "error") %> prohibited your register from being saved:</h4>

			      <ul>
			      <% @user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
		</div>
		<% else %>
		<div class="alert alert-login">
			By filling in the form bellow and clicking the "Sign Up" button, you accept and agree to <a data-toggle="modal" href="#terms">Terms of Service</a>.
		</div>
				<div id="terms" class="modal hide fade" style="display:none">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3>Terms and Conditions</h3>
					</div>
					<div class="modal-body">
						<p>
							Nulla sollicitudin pulvinar enim, vitae mattis velit venenatis vel. Nullam dapibus est quis lacus tristique consectetur. Morbi posuere vestibulum neque, quis dictum odio facilisis placerat. Sed vel diam ultricies tortor egestas vulputate. Aliquam lobortis felis at ligula elementum volutpat. Ut accumsan sollicitudin neque vitae bibendum. Suspendisse id ullamcorper tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum at augue lorem, at sagittis dolor. Curabitur lobortis justo ut urna gravida scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam vitae ligula elit.
							Pellentesque tincidunt mollis erat ac iaculis. Morbi odio quam, suscipit at sagittis eget, commodo ut justo. Vestibulum auctor nibh id diam placerat dapibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse vel nunc sed tellus rhoncus consectetur nec quis nunc. Donec ultricies aliquam turpis in rhoncus. Maecenas convallis lorem ut nisl posuere tristique. Suspendisse auctor nibh in velit hendrerit rhoncus. Fusce at libero velit. Integer eleifend sem a orci blandit id condimentum ipsum vehicula. Quisque vehicula erat non diam pellentesque sed volutpat purus congue. Duis feugiat, nisl in scelerisque congue, odio ipsum cursus erat, sit amet blandit risus enim quis ante. Pellentesque sollicitudin consectetur risus, sed rutrum ipsum vulputate id. Sed sed blandit sem. Integer eleifend pretium metus, id mattis lorem tincidunt vitae. Donec aliquam lorem eu odio facilisis eu tempus augue volutpat.
						</p>
					</div>
					<div class="modal-footer">
						<a data-dismiss="modal" class="btn" href="#">Close</a>
					</div>
				</div>

		<% end %>
		
		
		
				
				
			<div class="cnt_b">
				<div class="formRow">
					<div class="input-prepend">
						<span class="add-on" ><i class="icon-user"></i></span>
						<%= form.text_field "login", :size => 20,:id=>'user_login',:placeholder=>"Email"%>				
					   
					</div>
				</div>
				<div class="formRow">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-lock"></i></span>
						<%= form.password_field "password", :size => 20,:id=>'user_password',:placeholder=>"Password"%>
						
					</div>
				</div>
				<div class="formRow">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-lock"></i></span>

						<%= form.password_field "password_confirmation", :size => 20,:id=>'password_confirmation',:placeholder=>"Password Confirmation"%>

					</div>
					<small>The e-mail address is not made public and will only be used if you wish to receive a new password.</small>
					
				</div>
				
				
					<div class="formRow clearfix" >
						
					</div>
				</div>
					<div class="btm_b tac">
						<button class="btn btn-inverse" type="submit">Sign Up</button>
					</div>
</div>
<div class="links_b links_btm clearfix" >
<span class="linkform"><a href="/user/login">Goto Login</a></span>
</div>

<% end %>

</div>

	
	
	<script src="/gebo/js/jquery.min.js"></script>
    <script src="/gebo/js/jquery.actual.min.js"></script>
    <script src="/gebo/lib/validation/jquery.validate.min.js"></script>
	<script src="/gebo/bootstrap/js/bootstrap.min.js"></script>
   


	<script type="text/javascript">
try{document.getElementById('user_login').focus();}catch(e){}
</script>









 