<h1>Edit Project</h1>
<br/>
<%= form_for(:project) do |f| %>
<%= hidden_field_tag :id, @project.id %>
<%= render :partial=> 'project', :locals=>{:f=>f} %>
<br/>
<%= f.submit 'Update' , :class=>bt_class%> | <%= link_to 'Cancel', :action=>'show',:id=>@project%>
<% end %>