<%
    options = []
	if @field.lov_type == 'plain'
	options = @field.lov.split("\n").compact.collect{|i| i.strip}
	end
	@attachments.each_with_index do |i,index|
	
%>
<div id='pic_<%=i.id%>' class='eachpicprint'  style="border:0px solid red; margin:0px;width:165px"
		onmousedown='beginDrag()'
		onmouseup='endDrag()'
		ondragover='dragOver()'
		ondragleave='dragOut()'
		ondrop='dragDrop()'><span class='tm_no' >#<%=index+1%></span><div id='body_<%=i.id%>' class='picbody' style="border:0px solid;margin:0px;padding:0px;">
<a href="<%=i.path%>?<%=i.id%>" class="highslide" rel="highslide" onclick="return hs.expand(this)"><center><img src="<%=i.path%>?<%=i.id%>&thumb=1" name='img' id="<%=i.id%>" class="eachpicimg" border=0   height=90px align=absmiddle ></center>
</a>
<div class='comment'>
<input type='hidden' id='img_input_<%=i.id%>' name='<%= @name %>[id][]' value='<%=i.id%>'>
<% if @show %>
<pre style="width:160px;padding:0px;margin-left:10px"><%='<u>'.html_safe if i.selected == 1%><%=i.title%><%='</u>'.html_safe if i.selected == 1%></pre>
<% else %>
<input type='hidden' name='<%= @name %>[selected][<%=i.id%>]'  value='<%=''%>' />
<input type='checkbox' class='img_library_<%=@field.id%>' name='<%= @name %>[selected][<%=i.id%>]' <%='checked="checked"' if i.selected==1%> value='<%='1'%>' />
<input type='text' id='img_comment_ui_<%=i.id%>' name='[]' value='<%=i.title%>' style='width:100px'/>
<input type='hidden' id='img_comment_<%=i.id%>' name='<%= @name %>[title][]' value='<%=i.title%>' style='width:100px'/>

<% content_for :script do %>
$(document).ready(function() {
	 $("#img_comment_ui_<%=i.id%>").kendoComboBox({
	        dataTextField: "text",
	        dataValueField: "value",
	        dataSource: <%=options.collect{|i| {'text'=>i,'value'=>i}}.to_json.html_safe%>,
		 change: function(e) {
		        // handle event
			 $("#img_comment_<%=i.id%>").val(this.value());
		}
	    });
});
<% end %>
<% end %>
<%= link_to "-", "javascript:trashRemove('pic_#{i.id}')",:data=>{:confirm=>'Are you sure?'},:class=>"btn btn-small btn-danger",:style=>'padding:2px;padding-right:7px' unless @show%>
</div></div></div>
<% if index%4==3 and false%>
<div class="clear"></div>
<% end %>
<% end %>